---
layout: default
---

{% include base_path %}

<div id="main" role="main" class="resources-shell">
  {% include sidebar.html %}

  <article class="page resources-page" itemscope itemtype="http://schema.org/CreativeWork">
    <meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">

    <div class="page__inner-wrap">
      <section class="page__content" itemprop="text">
        {{ content }}
      </section>
    </div>
  </article>
</div>
